@import url('https://fonts.googleapis.com/css2?family=Poppins&wght@0,200..800;1,200..800&display=swap');
:root {
  --primary-color: #0094d0;
  --secondary-color: #4cc2ff;
  --accent-color: #e8e8e8;
  --text-color: #333333;
  --background-color: #fff;
  --green: rgba(0,150,90,1);
  --shadow-color: rgba(10,10,10,0.5)
}
@media (prefers-color-scheme: dark) {
:root {
  --primary-color: #007db0;
  --secondary-color: #55c4fb;
  --accent-color: #515151;
  --text-color: #d1d1d1;
  --background-color: #212121;
  --green: rgba(0,255,100,0.6);
  --shadow-color: rgba(10,10,10,0.9)
}
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}
.github-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translateY(-24px);
  opacity: 0.6;
  transition: 0.2s;
  z-index: 2;
}
.github-logo .tooltip{
  display: none;
  opacity: 0;
  padding: 3px 0;
  background-color: var(--accent-color);
  box-shadow: 0 0 3px var(--shadow-color);
  text-align: center;
  width: 180px;
  position: absolute;
  font-size: 0.7rem;
  border-radius: 10px;
  transform: translate(calc(50% - 40px), -115%);
  transition: 0.3s;
}
.github-logo .tooltip::before{
  content:'';
  position: absolute;
  top: calc(50% - 6px);
  right: 100%;
  width: 100%;
  border: 6px solid transparent;
  border-right: 4px solid var(--accent-color);
}
.github-logo:hover .tooltip{
  display: block;
  opacity: 1;
}
.github-logo:hover {
  opacity: 1;
}
.github-logo img {
  border-radius: 50% ;
  padding: 1px;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
#title {
  text-align: center;
  padding: 6px;
}
#bar-container {
  max-width: 800px;
  width: 95%;
  height: 400px;
  margin: 0 auto!important;
  padding: 0px 10px 10px 10px;
  display: flex;
  justify-content: center;
  transform: rotateX(180deg);
  column-gap: 2px;
  border: 1px solid #212121;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0px 0px 2px var(--accent-color);
}
.bar {
  max-width: 10px;
  width: 100%;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  border-radius: 0 0 5px 5px;
}
.btn-container {
  max-width: 600px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin: auto;
}
button {
  max-width: 200px;
  width: 95%;
  padding: 10px;
  border: 0 solid transparent;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  position: relative;
  transition: 200ms;
  box-shadow: 0 0 3px var(--shadow-color);
  outline:0 solid;
}
#sort-btn {
  background-color: var(--primary-color);
  outline-color: rgba(0,100,200,0.3);
}
#shuffle-btn {
  background-color: var(--green);
  outline-color: rgba(0,200,100,0.3);
}
button:hover{
  outline-width: 3px;
}
button:focus {
  animation: pressed 0.2s ease 1;
}
#select-container {
  max-width: 300px;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--shadow-color);
}
#sort-select {
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--accent-color);
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}
@keyframes pressed {
  0% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1);
  }
}